{% extends 'base.html.twig' %}

{% block body %}

    <p>Mon age : {{ age }}</p>
    <p>Mon prenom : {{ prenom }}</p>

    {% set couleurs = ['rouge', 'purple', 'white'] %}
    {% for cle, couleur in couleurs %}
        <p>{{ couleur | length }}</p>
    {% endfor %}
{% endblock %}
