<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<h1>D2WM146 - CDA091</h1>
<a href="{{ url('home_index') }}">HOME</a>
{% block body %}{% endblock %}
</body>
</html>
